<!DOCTYPE html>
<html>

<head>
	<title>
    Remote Jobs
  </title>
  <link rel="stylesheet" href="https://unpkg.com/mvp.css">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <script src="https://s3.ap-northeast-2.amazonaws.com/materials.spartacodingclub.kr/xmas/snow.js"></script>
  <style>
    body {
            background-color: #9b070f;
        }
    * {
      color:white;
    }
  </style>
</head>

<body>
  <header>
    <h1>Remote Jobs</h1>
  </header>
  <main>
    <form action="/search">
      <h3>Search by term:</h3>
      <input placeholder="Search term" required name="term" style="color:black"/>
      <button type="submit">Find my job</button>
    </form>
  </main>
</body>

</html>